body {
  margin: 0;
  padding: 0;
  background-color: #f3f4f6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 90%;
  max-width: 850px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #333;
  margin-bottom: 25px;
}

.sub-title {
  margin-top: 40px;
  font-size: 20px;
  color: #222;
  font-weight: 600;
}

.dashboard-container {
  max-width: 1200px;
}